html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
}
section, footer {
    margin: 25px auto;
    margin-left: 320px;
    max-width: 1200px;
}

nav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 10px;
}

nav a {
    display: block;
    margin-top: 7px;
}

a {
    text-decoration: none;
    color: #1b1ba1;
}
a:hover {
    color: #1ba143
}

h2, h3 {
    color: #a55;
}
h3 {
    text-align: center;
    color: #5a5;
}

section {
    padding: 0 4px;
    border: 2px solid black;
}

pre {
    margin: 8px;
    padding: 8px;
    background: #000;
    color: #fff;
    border-radius: 10px;
    white-space: pre-wrap;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.example {
    font-size: 1.2em;
    font-weight: 700;
}

.block-compare {
    border: 1px solid #aaa;
    padding: 5px;
    margin-left: 50px;
    max-width: 30px;
}

.blocking-cases {
    border: 2px solid #aaa;
    padding: 10px;
    margin: auto;
    background-color: #eee;
    animation: pulse-blocking-cases 1.2s ease-in-out infinite alternate;
}

@keyframes pulse-blocking-cases {
    0% {    border-color: #00f;
            background-color: #fff;}
    100% {  border-color: #000;
            background-color: #ddd;}
}

.blocking-cases > span {
    background: #fff;
    border: 1px solid red;
    padding: 5px;
}

.collapse-left {
    display: flex;
    justify-content: flex-start;
}

.collapse-left > .rdde {
    background-color: rgb(245, 240, 220);
    width: 100%;
    animation: pulse-width-100-0 2s ease-in-out infinite alternate;
}

.collapse-right {
    display: flex;
    justify-content: flex-end;
    font-size: 1.2em;
    font-weight: 700;
}

.collapse-right > .rdde {
    background-color: rgb(226, 245, 220);
    width: 100%;
    animation: pulse-width-100-0 2s ease-in-out infinite alternate;
}

.size-toggle {
    width: 50%;
    transition: width 1.7s ease-in-out;
}

.size-toggle-expand {
    width: 50%;    
}
.size-toggle-shrink {
    width: 0%;    
}

@keyframes pulse-width-100-0{
    0% {width: 100%;}
    100% {width: 0%;}
}