header, section, footer {
    margin: auto;
    max-width: 1024px;
}

#hello {
    max-width: 100%;
    animation: pulse-width-100-10 2s ease-in-out infinite alternate;
}

@keyframes pulse-width-100-10{
    0% {max-width: 100%;}
    100% {max-width: 3%;}
}

#right-section > div {
    float: right;
    width: 100%;
    animation: pulse-w-100-10 2s ease-in-out infinite alternate;
}

@keyframes pulse-w-100-10{
    0% {width: 100%;}
    100% {width: 5%;}
}