html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
}

main { 
    margin-left: 320px;
    max-width: 1200px;    
}

section, footer {
    margin: 25px auto;
    padding: 0 4px;
    border-top: 2px solid black;    
}

nav > a {
    display: block;
    margin-top: 7px;
}

a {
    text-decoration: none;
    color: #1b1ba1;
}
a:hover {
    color: #1ba143
}

h2, h3 {
    color: #a55;
}
h3 {
    text-align: center;
    color: #5a5;
}

pre {
    margin: 8px;
    padding: 8px;
    background: #000;
    color: #fff;
    border-radius: 10px;
    white-space: pre-wrap;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.example {
    font-size: 1.2em;
    font-weight: 700;
}

.block-compare {
    border: 1px solid #aaa;
    padding: 5px;
    margin-left: 50px;
    max-width: 30px;
}

.blocking-cases {
    border: 2px solid #aaa;
    padding: 10px;
    margin: auto;
    background-color: #eee;
    animation: pulse-blocking-cases 1.2s ease-in-out infinite alternate;
}

@keyframes pulse-blocking-cases {
    0% {    border-color: #00f;
            background-color: #fff;}
    100% {  border-color: #000;
            background-color: #ddd;}
}

.blocking-cases > span {
    background: #fff;
    border: 1px solid red;
    padding: 5px;
}

.collapse-left {
    display: flex;
    justify-content: flex-start;
}

.collapse-left > .rdde {
    background-color: #fdffeb;
    width: 100%;
    animation: pulse-width-100-0 2s ease-in-out infinite alternate;
}

@keyframes pulse-width-100-0{
    0% {width: 100%;}
    100% {width: 0%;}
}

.size-toggle {
    width: 50%;
    transition: width 1.7s ease-in-out;
}

.size-toggle-expand {
    width: 50%;    
}
.size-toggle-shrink {
    width: 0%;    
}

#navbar { 
    overflow: scroll;
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    padding: 10px;
    background: #fefff4;
    border-right: 2px solid #ffcbcb;
    transition: left .5s;
    white-space: nowrap;
}

#navbar.closed, #close-navbar.closed {
    left: -330px;
} 

#close-navbar {
    display: none;
    cursor: pointer;    
    text-align: center;
    position: fixed;
    font-size: 19px;
    line-height: 21px;
    font-weight: 900;
    top: 3px;
    left: 270px;
    width: 22px;
    height: 22px;    
    background: #d77;
    color: #000;
    border: 2px inset #000;
    border-radius: 6px;
    transition: left .5s;
}

#close-navbar:hover {
    background: #dcdda0;
    border: 2px outset #555;
}

#open-navbar {
    position: fixed;
    display: inline-block;
    cursor: pointer;        
    text-align: center;
    background: #7d7;
    top: 0;
    width: 170px;
    padding: 2px 6px;
    border: 2px inset #000;
    border-radius: 6px;
    z-index: 1;
}

#open-navbar:hover {
    background: #a0aedd;
    border: 2px outset #555;
}

@media only screen and (max-width: 1000px) {
    main {        
        margin-left: 0;
    }

    #close-navbar {
        display: block;
    }
}